@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/bundles/sweetalert2")
    @Styles.Render("~/Content/element")
}

<div class="container" id="memberVue">

    @*會員列表*@
    <br />
    <div class="row" v-cloak v-loading.fullscreen.lock="loading" element-loading-text="讀取中…" element-loading-background="rgba(0,0,0,0.1)" v-show="showArea.memberInfo">
        <div class="col custom-table-width">

            @*<div class="input-group col-md-6">

                    <br />
                    <div class="form-group">
                        <select class="form-control" v-model="memberInfo.selectSearchType">
                            <option v-for="option in memberInfo.selectSearchOptions" v-bind:value="option.value">{{ option.name }}</option>
                        </select>
                    </div>
                    <input class="form-control py-2" type="search" value="search" placeholder="查詢關鍵字" v-model="memberInfo.searchText">
                    <button class="btn btn-primary btn-block" type="button" v-on:click="memberFindByID()">
                        查詢
                    </button>
                </div>*@

            <br />
            <h4>會員列表</h4>
            <div class="table-responsive" v-if="memberInfo.list.length >0">
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>會員ID</th>
                            <th>會員名稱</th>
                            <th>Email</th>
                            <th>電話號碼</th>
                            <th>會員類型</th>
                            <th>顯示擁有權限</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody v-for="(data,index) in memberInfo.list">
                        <tr>
                            <td>{{ index+1  }}</td>
                            <td>{{ data.Id }}</td>
                            <td>{{ data.Username }}</td>
                            <td>{{ data.Email }}</td>
                            <td>{{ data.PhoneNumber }}</td>
                            <td>{{ data.MemberType }}</td>
                            <td>
                                <button type="button" class="btn btn-success" v-on:click="roleShowBtn(data)">顯示權限列表</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" v-on:click="memberDeleteData(data)">刪除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div v-if="memberTotalPages >1">
                    <el-pagination @@current-change="memberFindAllUsers"
                                   layout="total,prev,pager,next,jumper"
                                   :current-page.sync="memberInfo.currentPage"
                                   :page-size="memberInfo.itemsPerPage"
                                   :total="memberInfo.totalCount"
                                   :background="true">
                    </el-pagination>
                </div>
                <br />

            </div>
            <div v-else>
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>會員ID</th>
                            <th>會員名稱</th>
                            <th>Email</th>
                            <th>電話號碼</th>
                            <th>會員類型</th>
                            <th>顯示擁有權限</th>
                            <th>加入權限</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="9">查無結果</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @*權限新增更新視窗*@
    <!-- The Modal -->
    <div class="modal" id="roleInsertUpdate">
        <div class="modal-dialog">
            <div class="modal-content">

                <validation-observer v-slot="{ handleSubmit,reset }" ref="roleModalRef">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" v-if="roleInfo.modalType === 'insert'">新增</h4>
                        <h4 class="modal-title" v-else>更新權限{{ roleInfo.data.Name}}</h4>
                        <button type="button" class="close" data-dismiss="modal" v-on:click="roleResetData">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <form @@submit.prevent="handleSubmit(roleSubmitForm)">
                            <div class="form-group">
                                <label for="roleName">權限名稱</label>
                                <validation-provider rules="required" v-slot="{ errors }">
                                    <input type="text" class="form-control" id="roleName" v-model="roleInfo.data.roleName" />
                                    <span class="text-danger">{{ errors[0]}}</span>
                                </validation-provider>
                            </div>

                            <button class="btn btn-primary" type="submit">送出</button>
                        </form>
                    </div>

                </validation-observer>

            </div>
        </div>
    </div>


    @*權限列表*@
    <br />
    <div class="row" v-cloak v-loading.fullscreen.lock="loading" element-loading-text="讀取中…" element-loading-background="rgba(0,0,0,0.1)" v-show="showArea.roleInfo">
        <div class="col custom-table-width">

            @*<div class="input-group col-md-6">

                    <br />
                    <div class="form-group">
                        <select class="form-control" v-model="roleInfo.selectSearchType">
                            <option v-for="option in roleInfo.selectSearchOptions" v-bind:value="option.value">{{ option.name }}</option>
                        </select>
                    </div>
                    <input class="form-control py-2" type="search" value="search" placeholder="查詢關鍵字" v-model="roleInfo.searchText">
                    <button class="btn btn-primary btn-block" type="button" v-on:click="roleFindByID()">
                        查詢
                    </button>
                </div>*@

            <br />
            <h4 v-if="roleInfo.mapMember">全部的權限列表</h4>
            <div class="table-responsive" v-if="roleInfo.list.length >0">
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>權限ID</th>
                            <th>權限名稱</th>
                            <th>更新</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody v-for="(data,index) in roleInfo.list">
                        <tr>
                            <td>{{ index+1  }}</td>
                            <td>{{ data.Id }}</td>
                            <td>{{ data.Name }}</td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#roleInsertUpdate" v-on:click="roleSetFormType('update',data)">更新</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" v-on:click="roleDeleteData(data)">刪除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div v-if="roleTotalPages >1">
                    <el-pagination @@current-change="roleFindAllRoles"
                                   layout="total,prev,pager,next,jumper"
                                   :current-page.sync="roleInfo.currentPage"
                                   :page-size="roleInfo.itemsPerPage"
                                   :total="roleInfo.totalCount"
                                   :background="true">
                    </el-pagination>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roleInsertUpdate" v-on:click="roleSetFormType('insert')">新增</button>

            </div>
            <div v-else>
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>權限ID</th>
                            <th>權限名稱</th>
                            <th>更新</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody v-for="(data,index) in roleInfo.list">
                        <tr>
                            <td colspan="5">查無結果</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#roleInsertUpdate" v-on:click="roleSetFormType('insert')">新增</button>

            </div>
        </div>
    </div>


    @*已加入會員權限列表*@
    <div class="row" v-cloak v-loading.fullscreen.lock="loading" element-loading-text="讀取中…" element-loading-background="rgba(0,0,0,0.1)" v-show="showArea.addRoleInfo">
        <div class="col custom-table-width">

            @*<div class="input-group col-md-6">

                    <br />
                    <div class="form-group">
                        <select class="form-control" v-model="roleInfo.selectSearchType">
                            <option v-for="option in roleInfo.selectSearchOptions" v-bind:value="option.value">{{ option.name }}</option>
                        </select>
                    </div>
                    <input class="form-control py-2" type="search" value="search" placeholder="查詢關鍵字" v-model="roleInfo.searchText">
                    <button class="btn btn-primary btn-block" type="button" v-on:click="roleFindByID()">
                        查詢
                    </button>
                </div>*@

            <br />
            <h4 v-if="roleInfo.mapMember">{{ roleInfo.mapMember.UserName}}擁有的權限列表</h4>
            <div class="table-responsive" v-if="roleInfo.list.length >0">
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>權限ID</th>
                            <th>權限名稱</th>
                            <th>移除</th>
                        </tr>
                    </thead>
                    <tbody v-for="(data,index) in roleInfo.list" v-if="roleInfo.list.length >0">
                        <tr>
                            <td>{{ index+1  }}</td>
                            <td>{{ data.Id }}</td>
                            <td>{{ data.Name }}</td>
                            <td>
                                <button type="button" class="btn btn-danger" v-on:click="memberRemoveRoleFromUser(data)">移除</button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr>
                            <td>查無結果</td>
                        </tr>
                    </tbody>
                </table>

                <div v-if="roleTotalPages >1">
                    <el-pagination @@current-change="roleFindAllRoles"
                                   layout="total,prev,pager,next,jumper"
                                   :current-page.sync="roleInfo.currentPage"
                                   :page-size="roleInfo.itemsPerPage"
                                   :total="roleInfo.totalCount"
                                   :background="true">
                    </el-pagination>
                </div>
                <button type="button" class="btn btn-secondary" v-on:click="backMemberInfo()">返回</button>
                <button type="button" class="btn btn-info" v-on:click="roleShowNotInRoleeBtn()">加入新權限</button>

            </div>
            <div v-else>
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>權限ID</th>
                            <th>權限名稱</th>
                            <th>移除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">查無結果</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" v-on:click="backMemberInfo()">返回</button>
                <button type="button" class="btn btn-info" v-on:click="roleShowNotInRoleeBtn()">加入新權限</button>
            </div>
        </div>
    </div>


    @*未加入會員權限列表*@
    <div class="row" v-cloak v-loading.fullscreen.lock="loading" element-loading-text="讀取中…" element-loading-background="rgba(0,0,0,0.1)" v-show="showArea.notInRoleInfo">
        <div class="col custom-table-width">

            @*<div class="input-group col-md-6">

                    <br />
                    <div class="form-group">
                        <select class="form-control" v-model="roleInfo.selectSearchType">
                            <option v-for="option in roleInfo.selectSearchOptions" v-bind:value="option.value">{{ option.name }}</option>
                        </select>
                    </div>
                    <input class="form-control py-2" type="search" value="search" placeholder="查詢關鍵字" v-model="roleInfo.searchText">
                    <button class="btn btn-primary btn-block" type="button" v-on:click="roleFindByID()">
                        查詢
                    </button>
                </div>*@

            <br />
            <h4 v-if="roleInfo.mapMember">{{ roleInfo.mapMember.UserName}}未擁有的權限列表</h4>
            <div class="table-responsive" v-if="roleInfo.list.length >0">
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>權限ID</th>
                            <th>權限名稱</th>
                            <th>加入</th>
                        </tr>
                    </thead>
                    <tbody v-for="(data,index) in roleInfo.list">
                        <tr>
                            <td>{{ index+1  }}</td>
                            <td>{{ data.Id }}</td>
                            <td>{{ data.Name }}</td>
                            <td>
                                <button type="button" class="btn btn-info" v-on:click="memberAddRoleToUser(data)">加入</button>
                            </td>
                            <td v-show="showArea.addRoleInfo">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#roleInsertUpdate" v-on:click="roleSetFormType('update',data)">更新</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div v-if="roleTotalPages >1">
                    <el-pagination @@current-change="roleFindAllRoles"
                                   layout="total,prev,pager,next,jumper"
                                   :current-page.sync="roleInfo.currentPage"
                                   :page-size="roleInfo.itemsPerPage"
                                   :total="roleInfo.totalCount"
                                   :background="true">
                    </el-pagination>
                </div>
                <button type="button" class="btn btn-secondary" v-on:click="backAddRoleInfo()">返回</button>
            </div>
            <div v-else>
                <table class="table table-active table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>權限ID</th>
                            <th>權限名稱</th>
                            <th>加入</th>
                        </tr>
                    </thead>
                    <tbody v-for="(data,index) in roleInfo.list">
                        <tr>
                            <td colspan="4">查無權限</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" v-on:click="backAddRoleInfo()">返回</button>
            </div>
        </div>
    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/sweetalert2")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/admin")
}